@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: rgb(253, 128, 72);
    --secondary: rgb(252, 205, 33);
    --primary-active: rgb(253, 113, 48);
    --secondary-active: rgb(247, 199, 22);
    --body1: #444756;
    --body2: #797979;
    --headings: #1d2442;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
}

body {
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--body-background-color);
}
